*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0px;
}



:root {
  --main-bg-color: #4e5256;

}

body {
  background-color: var(--main-bg-color);
}

h1 {
  background-color: rgba(250,250,250,0.2);
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  padding: 1.5rem;
  text-align: center;
}

main {
 align-items: center;
 background-image: url("../assets/orange-bg.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 100vh;
 margin: 0px;
}



.login {
  background: #D18100;
  border: none;
  color: #fff;
  font-size: 16px;
  height: 3rem;
  line-height: 51px;
  margin-top: 0.6rem;
  text-align: center;
  width: 27%;
}

#user-login {
  border: none;
  font-size: 22px;
  padding: 10px;
  height: 3rem;
  width: 72%;
}
