*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0px;
}

.hidden {
  height: 0px;
  visibility: hidden;
  width: 0px;
}

title {
  color: ghostwhite;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 50px;
  width: 20%;
}

.top-nav-bar {
  align-items: center;
  background-color: #D18100;
  color: #4F2F0F;
  display: flex;
  flex-direction: row;
  font-size: 28px;
}


.navigation-header {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: flex-end;
  list-style: none;
  margin: 10px;
  margin-right: 20px;
  width: 80%;
}

#search {
  font-size: 1.5rem;
  margin-left: 0.6rem;
}

.recipe-ingredients {
  padding-bottom: 1rem 0;
}

#user-name {
  display: flex;
  justify-content: flex-start;
  width: 12vw;
}

.nav-list {
  width: 100%;
}

.search-button {
  background-color: #4F2F0F;
  border: none;
  color: ghostwhite;
  display: inline;
  font-size: 1.3rem;
  height: 35px;
  width: 5rem;
}

.navigation-header li {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.pantry-icon {
  margin-top: 20px;
  width: 60px;
}

.image-labels {
  display: flex;
  font-size: 24px;
  flex-direction: row;
  justify-content: space-between;
  margin: 2%;
  margin-top: 0px;
  width: 65%;
}

.crop {
  height: 240px;
  margin: 2%;
  object-fit: cover;
  width: 22%;
}

.menu-select-btn {
  margin-bottom: 40px;
  width: 10%;
}

#heart-btn,
#book-btn {
  margin-left: 3%;
  width: 7%;
}

.image-footer {
  border-bottom: #D18100 solid 1px;
  border-top: #D18100 solid 1px;
  margin-left: 5%;
  margin-right: auto;
  width: 90%;

}

#recipe-image {
  height: 1000px;
  margin: 0px;
  object-fit: cover;
  width: 55%;
}

.recipe-header {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 80px;
}

.recipe {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.recipe p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.2rem;
  padding: .5rem 0;
}

.top-nav {
  padding: 100px;
}

h2 {
  color: #D18100;
  font-size: 1.9rem;
  margin: 50px 0px 50px 30px;
  margin-left: 0px;
  padding: 8px;
}

.favorite-recipes,
.available-recipes,
.all-recipes {
  display: inline;
  width: 23%;
}

.display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 98%;
}

#display-all {
  width: calc(100% / 4);
}

h4 {
  padding: 10px;
}

.full {
  padding: 5px;
  width: 100%;
}

.hidden {
  displaY: none;
  height: 0px;
  width: 0px;
}

li {
  display: inline;
  list-style: none;
}

h3 {
  display: inline;
  margin-right: 3%;
  width: 18%;
}

footer {
  background-color: #D18100;
  height: 50px;
  margin-bottom: 0px;
  margin-top: 150px;
}

button {
  background: none;
  border: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  width: auto;
}

.add-heart {
  height: 70px;
  padding: 16px;
  position: absolute;
  visibility: hidden;
}
